# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.production

# OS
.DS_Store
Thumbs.db